/* --------------------------------
    TABLE OF CONTENTS
-----------------------------------
    Assets
    Partials

----- */

/* --------------------------------
    Assets
-------------------------------- */
@import "../public/assets/bourbon/bourbon";
@import "../public/assets/neat/neat";
@import "../public/assets/flexslider/flexslider.css";


/* --------------------------------
    Partials
-------------------------------- */
@import "variables";
@import "mixins";
@import "global";
@import "typography";
@import "navigation";
@import "modules";


/* --------------------------------
    Your styles
-------------------------------- */
@import "main";

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
	font-family: 'Open Sans', sans-serif;
	// background: #b3a397;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

.navigation {
	// color: ;
}
.navigation ul {
	text-align: center;
}

.navigation ul li {
	display: inline-block;
	padding-right: 4em;

}

.eyecatcher {
	border-top: 5px solid rgba(179,163,151,1);
	border-bottom: 5px solid rgba(179,163,151,1);
}

.ribbon {
	background: rgba(179,163,151, 0.48);
	width: 25em;
	min-height: 710px;
	color: white;
	float: left;
	margin-left: 20%;
	// margin: 0 -2em;
	border-left: 6px solid rgba(255,255,255, 0.6);
	border-right: 6px solid rgba(255,255,255, 0.6);
	// border-radius: 5px;

	&.right {
		float: right;
		margin-right: 20%;
	}

}

.broad-ribbon {
	width: 70em;
}


.gifteross {
	font-size: 2.3em;
	margin-top:0;
	padding-top: 1em;
	font-weight: 500;
}

h1#names {
	font-family: 'Parisienne';
	font-size: 6em;
	color: white;
	text-shadow: 2px 6px 6px rgba(0,0,0,0.6);
	font-weight: 500;

	.andre {
		line-height: 1em;
		display: block;
	}
	.og {
		display: block;
		line-height: 1em;
		padding-bottom: .25em;
	}
	.lisa {
		display: block;
		line-height: 1em;
	}
}

.tid {
	font-size: 1.5em;
	margin: 0;
}

.form {
	margin: 1em;

	input[type=text] {
		float: none;
	}

	input[type=checkbox] {
		margin-right: 1em;
		vertical-align: middle;
	}

	label {
		margin-top: 0.5em;
		cursor: pointer;
		text-align: center;
		// text-transform: uppercase;
		display: block;
		padding: 0.1em 0;
		font: inherit;
		font-weight: normal;
		font-size: 1.7em;
	}

	.button:focus {
		border-color: #1bb776;
	}
}

footer.outer {
	background: rgba(179,163,151, 1) !important;
	color: #191919 ;
	padding-top: 0;
	padding-bottom: 0;
}
