<div class="eyecatcher" style="background-image: url('images/LSP14012.jpg');">

  <div class="ribbon">
    <h1 class="gifteross">Vi gifter oss!</h1>
    <h1 id="names">
      <span class="andre">André</span>
      <span class="og">&</span>
      <span class="lisa">Lisa</span>
    </h1>
    <p class="tid">
      27. juli <br>
      Spin kirke <br>
      Kl 13.00
    </p>
  </div>

</div>