<% content_for :title do %>Nyttig informasjon<% end %>
<div class="eyecatcher info">

  <div class="ribbon">
    <h1 class="page-title">Nyttig informasjon</h1>
      <p>
        Dato: Lørdag 22.11.2014 <br>
        Vielsen starter kl. 13:00 i Spind kirke i Farsund kommune. <br>
        Festen fortsetter på Husan (Farsund sentrum). Dørene åpnes kl. 16:00
      </p>
  </div>

</div>