<% content_for :title do %><%= t 'info.title' %><% end %>
<div class="eyecatcher info">

  <div class="ribbon">
    <h1 class="page-title"><%= t 'info.title' %></h1>
      <p>
        <%= t 'info.content' %>
      </p>
  </div>

</div>