<% content_for :title do %><%= t 'wishlist.title' %><% end %>
<div class="eyecatcher onskeliste">

  <div class="ribbon">
    <h1 class="page-title"><%= t 'wishlist.title' %></h1>
    <%= t 'wishlist.content' %>
  </div>

</div>