<div class="eyecatcher" style="background-image: url('images/LSP13796.jpg');">

  <div class="ribbon">
    <h1 class="gifteross">Kommer du?</h1>
    <form class="form" action="">
      <input id="name_input" type="text" placeholder="Navn" name="name">
      <label>
        <input id="attending_input" type="checkbox" name="attending"> Ja, jeg kommer
      </label>
      <input type="submit" class="button white" value="Send svar" />
    </form>
  </div>

</div>